{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio Web{% endblock %}</title>
    <nav>
        <ul>
            <li>
                {% if user.is_authenticated  %}
                    <a href="{% url 'pantalla' %}">Inicio</a>
                {% else %}
                    <a href="{% url 'index' %}">Inicio </a>
                {% endif %}
            </li>
            <li>
                {% if user.is_authenticated  %}
                    <p>Bienvenido, {{ user.username }}!</p>
                    <a href="{% url 'logout_view' %}">Cerrar sesión</a>
                {% else %}
                    <a href="{% url 'login_view' %}">Iniciar sesión</a>
                    <a href="{% url 'Registro' %}">Registro</a>
                {% endif %}
            </li>
            
        </ul>
    </nav>
</head>
<body>
    {% block content %}
        
    <!-- Contenido de la página se mostrará aquí -->
    
    {% endblock %}
</body>
</html>