{% extends "base.html" %} {%block title%} Aplicacion {%endblock%}
{% load static %}              

{% block content %}
<button > 
    <a href="{% url 'crear_publicacion' %}">publicar</a>
</button>
<button>
    {% if usernameP %}
        <a href="{% url 'perfil' usernameP %}">Perfil</a>
    {% else %}
        <span>No has iniciado sesión</span>
    {% endif %}
</button>

{% for publicacion in publicaciones %}
    <div>
        <h3>{{ publicacion.usuario.username }}</h3>
        <p>{{ publicacion.texto }}</p>
        <small>{{ publicacion.fecha_creacion }}</small>
    </div>
{% endfor %}
{% endblock %}